body {
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 30px;
  width: 40%;
  min-width: 600px;
  height: 350px;
  border: 3px solid black;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.sm-container {
  width: 80%;
}

.title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
}

.inputContainer {
  position: relative;
  display: flex;
}

.inputStroke {
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
  padding-right: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 22px;
}

.inputStroke::placeholder {
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  color: #d2d2d2;
}

.button {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  width: 45px;
  background-color: black;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.tasks-container {
  width: 80%;
  border-radius: 15px;
  max-height: 600px;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding-right: 6px;
  overscroll-behavior: contain;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

.task {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: black;
  border-bottom: 1px solid rgb(180, 179, 179);
}

.task.completed {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: rgb(180, 179, 179);
  text-decoration: line-through black;
  border-bottom: 1px solid rgb(180, 179, 179);
  transition: all 0.3s ease;
  transform: scale(0.98);
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  background: white;
  margin-right: 8px;
  position: relative;
  transition: background 0.2s, border-color 0.2s;
}

.checkbox input:checked + .checkmark {
  background: rgb(164, 164, 164);
}

.binButton {
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
